[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Dummy_CP
Bip001
Bip001-Pelvis
Bip001-Spine
Bip001-Spine1
Bip001-Spine2
Bip001-Neck
Bip001-Head
P_Head_Cloth
B_Head_Cloth_R_01
B_Head_Cloth_R_02
B_Head_Cloth_R_03
B_Head_Pin_R_01
B_Head_Pin_L_01
B_Head_Cloth_L_01
B_Head_Cloth_L_02
B_Head_Cloth_L_03
B_Hair_FT_01
B_Hair_FT_02
B_Hair_F_01
B_Hair_F_02
B_Hair_RF_01
B_Hair_RF_02
B_Eyebrow_R_03
B_Eyebrow_L_01
B_Eyebrow_L_02
B_Eyebrow_L_03
B_Eyebrow_R_01
B_Eyebrow_R_02
B_Jaw001
B_Lip_LD_01
B_Lip_Down_01
B_Lip_RD_01
D_Teeth_Down
B_Eye_Up_L_01
B_Eye_Down_L_01
B_Eye_Down_R_01
B_Eye_Up_R_01
B_Lip_L_01
B_Lip_R_01
B_Lip_RU_01
B_Lip_Up_01
B_Lip_LU_01
D_Teeth_Up
B_eye_R
B_Hair_B_01
B_Hair_B_02
B_Hair_R_01
B_Hair_R_02
B_Hair_L_01
B_Hair_L_02
B_eye_L
P_manteau
B_manteau_R_01
B_manteau_R_02
B_manteau_R_03
B_manteau_R_04
B_manteau_L_01
B_manteau_L_02
B_manteau_L_03
B_manteau_L_04
Bip001-L-Clavicle
Bip001-L-UpperArm
Bip001-L-Forearm
Bip001-L-Hand
Bip001-L-Finger0
Bip001-L-Finger01
Bip001-L-Finger02
Bip001-L-Finger1
Bip001-L-Finger11
Bip001-L-Finger12
Bip001-L-Finger2
Bip001-L-Finger21
Bip001-L-Finger22
Bip001-L-Finger3
Bip001-L-Finger31
Bip001-L-Finger32
Bip001-L-Finger4
Bip001-L-Finger41
Bip001-L-Finger42
Bip001-Prop2
D_WP_03_1
D_WP_03_2
D_WP_03_3
Bone_Twist_L_Forearm
P_Arm_Cloth_L
Bone_Twist_L_UpperArm
Bip001-R-Clavicle
Bip001-R-UpperArm
Bip001-R-Forearm
Bip001-R-Hand
Bip001-R-Finger0
Bip001-R-Finger01
Bip001-R-Finger02
Bip001-R-Finger1
Bip001-R-Finger11
Bip001-R-Finger12
Bip001-R-Finger2
Bip001-R-Finger21
Bip001-R-Finger22
Bip001-R-Finger3
Bip001-R-Finger31
Bip001-R-Finger32
Bip001-R-Finger4
Bip001-R-Finger41
Bip001-R-Finger42
Bip001-Prop1
D_WP_01_1
D_WP_01_3
D_WP_01_2
Bone_Twist_R_Forearm
P_Arm_Cloth_R
Bone_Twist_R_UpperArm
B_Cloth_B_01
B_Cloth_B_02
B_Cloth_B_03
B_Cloth_L_01
B_Cloth_L_02
B_Cloth_R_01
B_Cloth_R_02
B_Cloth_F_01
B_Cloth_F_02
P_Cloth_RL
B_Cloth_RL_01
B_Cloth_RL_02
B_Cloth_RL_03
P_Cloth_RF
B_Cloth_RF_01
B_Cloth_RF_02
B_Cloth_RF_03
Bip001-L-Thigh
Bip001-L-Calf
Bip001-L-Foot
Bip001-L-Toe0
Bone_Twist_L_Thigh
Bip001-R-Thigh
Bip001-R-Calf
Bip001-R-Foot
Bip001-R-Toe0
Bone_Twist_R_Thigh
Bip001-Prop3
D_WP_02_1
D_WP_02_3
D_WP_02_2
Dummy_Fx
Dummy_Cam
Dummy_Fire
Dummy_SkillCam
Dummy_Top
Dummy_Center
